@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --cse:red;

}
.bg a{
    text-decoration: none;
    width: 250px;
    padding: 10px;
    background-color:#000;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
.bg{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: #000;
    background-image: url(./bg.jpg);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}

.bg h1{
    letter-spacing: 2px;
    font-size: 80px;

}
.bg p{
    font-size: 20px;
    letter-spacing: 2px;
}
.custom-shape-divider-bottom-1668337853 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1668337853 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1668337853 .shape-fill {
    fill: #FAFF3B;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1668337853 svg {
        width: calc(173% + 1.3px);
        height: 64px;
    }
}
/* =========================== */
.custom-shape-divider-top-1668338350 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1668338350 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 130px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1668338350 .shape-fill {
    fill: #fbff00;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-top-1668338350 svg {
        width: calc(203% + 1.3px);
        height: 67px;
    }
}
.data{
    /* padding: 2% 6%; */
    /* padding: 50px; */
    max-height: 100vh;
    background-color: #fff;
    
}
.card
{
    width: 250px;
    height: 200px;
    background-color:#fff;
    border-radius: 10px;
    text-align: center;
    color: #000;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    transition: .3s;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   
}
.card:hover{
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 10px;
}
.card:hover .bgcard{
    clip-path: circle(80% at 49% 0);
}
.bgcard h5{
    margin-top: 20px;
    opacity: 0;
}
.card:hover h5{
    opacity: 1;
    font-size: 15px;
}
.dept
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2% 6%;
    display: grid;
    margin-top: 35px;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 30px;
}
.bgcard{
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: circle(58.4% at 49% 0);
    padding: 50px;
    transition: 0.3s;
}
#cse{
    background:linear-gradient(24deg,rgb(96, 255, 96),rgb(13, 240, 13));
}
#it{
    background:linear-gradient(24deg,rgb(255, 54, 215),rgb(255, 14, 118));
}
#ece{
    background:linear-gradient(24deg,rgb(103, 242, 255),rgb(18, 227, 254));
}
#eee{
    background:linear-gradient(24deg,rgb(243, 255, 69),rgb(208, 255, 0));
}
#ice{
    background:linear-gradient(24deg,rgb(192, 255, 65),rgb(36, 155, 4));
}
#mech{
    background:linear-gradient(24deg,rgb(125, 70, 255),rgb(55, 0, 255));
}
#civil{
    background:linear-gradient(24deg,rgb(248, 67, 67),rgb(255, 25, 8));
}





/* ============================================================ */
@media(max-width:415px){
    
.bg h1{
    font-size: 30px;
}
.bg{
    text-align: center;
}
.bg p{
    font-size: 15px;
}
.card{
    margin: auto;
}
.bg span{
    color: rgb(51, 218, 236);
    animation: textcolor 3s infinite;
}


}
@media(max-width:700px){
    
    .bg h1{
        letter-spacing: 2px;
        font-size: 50px;
    }
    .bg p{
        font-size: 15px;
    
    }
    .card{
        margin: auto;
    }
    .bg span{
        color: rgb(51, 218, 236);
        animation: textcolor 3s infinite;
    }
    /* =================================== */
    
    @keyframes textcolor {
        0%{
            filter: hue-rotate(0deg);
        }
        50%{
            filter: hue-rotate(360deg);
        }
        100%{
            filter: hue-rotate(0deg);
        }
        
    }
    }
/* =========================SPINNER=============================== */
.spinner {
    position: fixed;
    z-index: 100;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #000;
  }
  
  .spinner::before,
  .spinner::after {
    border: 6.7px solid #474bff;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
  }
  
  .spinner::before {
    width: 33.6px;
    height: 33.6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: spinner-1o3y8q 0.75s infinite linear reverse;
  }
  
  .spinner::after {
    animation: spinner-1o3y8q 0.5s infinite linear;
    height: 56px;
    width: 56px;
    border-right-color: transparent;
    border-top-color: transparent;
  }
  
  @keyframes spinner-1o3y8q {
    to {
       transform: rotate(360deg);
    }
  }