@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300;1,500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.box
{
  width: 390px;
  min-height: 400px;
  border-radius: 12px;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(255,255,255,1);
  /* border-top: 1px solid rgb(255, 244, 244);
  border-left: 1px solid rgb(255, 247, 247); */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  user-select: none;
  margin: 5% 0;
  /* position: absolute; */
  
}
.view
{
  display: flex;
  padding: 2% 6%;
  min-height: 140vh;
  justify-content: center;
  align-items: center;
  background:linear-gradient(to right,#ec6708,#f80759,#b74068,#12fb4c);
  background-size: 400%;
  animation: bgcolor 3s infinite;
}
@keyframes bgcolor{
  0%{
    background-position: 0%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}
.sub
{
  margin: 25px;
}
.sub label{
  font-weight: 600;
  letter-spacing: 1px;
  margin: 5px;
}
span{
  color: red;
}
.btn{
  width: 180px;
  padding: 8px;
  border-radius: 30px;
  outline: none;
  border: none;
  background: linear-gradient(to right,#1b86e3,#b005ff);
  background-size: 400%;
  animation: bgcolor 3s infinite;
  box-shadow: 0 0 25px #000;
  cursor: pointer;
  transition: .3s;
  font-size: 20px;
  font-weight: 700;

}
.btn:hover{
  width: 200px;
  
}
.sub input{
  margin: 0 5px;
}
.box h3{
  letter-spacing: 3px;
}
.box p{
  color: rgb(67, 67, 67);
}
footer{
  width: 100%;
  height: 10vh;
  background-color: black;
  text-align: center;
  padding: 10px;
  position: absolute;
}
footer h3{
  color: white;
  font-weight: 400;
}
footer p{
  color: white;
}
@media(max-width:425px){
  .box{
    width: 90%;
  }
}
